<!-- Footer Container -- Début -->
  <div  class="container">

    <!-- Footer -- Début -->
      <div fxLayout="column">

        <div fxLayout="row">
          <h4>#MAFALOVES</h4>
        </div>

        <div fxLayout="row">
          <h5>Partager votre expérience et vos plus belles photos avec le #MAFALOVES</h5>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between  none">
          <div fxFlex="30" style="height: 250px;width: 250px;background-color: aqua;"></div>
          <div fxFlex="30" style="height: 250px;width: 250px;background-color: brown;"></div>
          <div fxFlex="30" style="height: 250px;width: 250px;background-color: chartreuse;"></div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="space-between  none" >

          <div fxFlex="30">
            <h6>NEWSLETTER</h6>
            <p>Inscrivez-vous à notre Newsletter et recevez
              régulièrement, gratuitement et sans engagement
              des conseils, ores exclusives, actualités ...
            </p>
            <div><input type="text"><a href="javascript:void(0)">OK</a></div>
          </div>

          <div fxFlex="30">
            <h6>CONTACTEZ-NOUS</h6>
              <div>
                <div>Par téléphone</div>
                <div>
                  <span>(CIV) : +225 07 0000 0000</span>
                  <span>(FR) : +33 06 1111 1111</span>
                </div>
                <div>Ou remplissez le <a href="javascript:void(0)">formulaire</a></div>
              </div>
          </div>

          <div fxFlex="30">
            <h6>RESTEZ CONNECTÉ</h6>
            <div></div>
          </div>

        </div>

      </div>
    <!-- Footer -- Fin -->

  </div>
<!-- Footer Container -- Fin -->
